.background {
  width: 400px;
  height: 400px;
  background-Position: center;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-color: brown;
}

.button {
  background-color: rgb(138, 138, 207);
}