body {
  background: url('../../images/background2.png');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.home {
    position: absolute;
    top: 20%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
}

.innerHome {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 55, 0.3);
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 40px;
  width: 500px;
  height: 450px;
  border-radius: 90px 5px 90px 5px / 90px 5px 90px 5px;
}

.temp {
  width: 100px;
  height: 100px;;
}